.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: $bodyColor;
    border-bottom: 0.1rem solid rgba(201, 251, 64, 0.5);
    // .header__inner
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    // .header__burger-btn
    &__burger-btn {
        display: none;
    }
    // .header__logo
    &__logo {
        padding: 1rem 0;
        height: 100%;
        width: 22.7rem;
        border-right: 0.1rem solid rgba(201, 251, 64, 0.5);
    }
    // .header__img
    &__img {
        width: 17.9878rem;
        height: 4.6rem;
    }
    // .header__nav
    &__nav {
        gap: 5rem;
    }
    &__burger-menu {
        display: none;
        overflow: auto;
    }
}

.nav {
    display: flex;
    align-items: center;
    // .nav__link
    &__link {
        display: block;
        font-size: 2rem;
        line-height: 140%; /* 28px */
        transition: color 0.2s linear;

        &:hover,
        &:focus-visible {
            transition: color 0.2s linear;
            color: $green;
        }
    }
}

@media (max-width: 48em) {
    .header {
        border-bottom: none;
        &.scroll {
            border-bottom: 0.1rem solid rgba(201, 251, 64, 0.5);
        }

        &.show {
            .header__phone {
                display: none;
            }
            .header__inner {
                flex-direction: row-reverse;
            }
        }
        &__container {
            position: relative;
            z-index: 1;
            background-color: $bodyColor;
        }
        // .header__inner
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 1.6rem 0 1.8rem;
        }
        // .header__burger-btn
        &__burger-btn {
            display: flex;
            width: 5.2rem;
            height: 4.6rem;
        }
        // .header__logo
        &__logo {
            padding: 0;
            height: 9.2rem;
            width: 36.6rem;
            border-right: none;
        }
        // .header__img
        &__img {
            width: 100%;
            height: 100%;
        }
        // .header__nav
        &__nav {
            display: none;
        }
        // .header__phone
        &__phone {
            width: 4.8rem;
            height: 4.8rem;
        }
    }
}
@media (max-width: 48em) {
    .burger-btn {
        &__btn {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1.4rem;

            span {
                display: block;
                width: 100%;
                height: 0.6rem;
                background-color: $white;
                border-radius: 2.4rem;
            }
        }

        &__close {
            display: none;
        }

        &.open {
            .burger-btn__btn {
                display: none;
            }
            .burger-btn__close {
                display: block;
                width: 4rem;
                height: 4rem;
            }
        }
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15rem;
        position: absolute;
        top: 12.6rem;
        left: 0;
        z-index: 0;
        transition: transform 0.5s linear;
        transform: translateY(-120%);

        width: 100%;
        height: calc(100vh - 12.6rem);
        background-color: $bodyColor;

        &.show {
            transition: transform 0.5s linear;
            transform: translateY(0);
        }
        // .burger-menu__wrapper
        &__wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 16rem;
        }
        &__phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 0.2rem solid $green;

            padding: 3.2rem 0 4.4rem;
            a {
                display: flex;
                align-items: center;
                gap: 2.6rem;
                span {
                    width: 6.4rem;
                    height: 6.4rem;
                    svg path {
                        fill: $pink;
                    }
                }

                strong {
                    color: $pink;
                    font-size: 4.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
        // .burger-menu__link
        &__link {
            display: flex;
            justify-content: center;

            width: 100%;
            color: $white;
            font-family: 'Druk Cyr';
            font-size: 10rem;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 55px */
            text-transform: uppercase;
            padding: 3.2rem 0;

            border-bottom: 0.2rem solid $green;

            &:first-child {
                border-top: 0.2rem solid $green;
            }

            &:hover,
            &:active,
            &:focus-visible {
                background-color: $pink;
                color: $bodyColor;
            }
        }
    }
}
