.hero-gallery {
    padding-bottom: 16rem;
    background-color: $black;

    // .hero-gallery__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .hero-gallery__head

    &__head {
        align-self: center;
        text-align: center;
    }

    // .hero-gallery__title

    &__title {
        ._coloured-txt {
            color: $green;
        }
    }

    // .hero-gallery__body

    &__body {
    }

    // .hero-gallery__item

    &__item {
        // .hero-gallery__item_gray

        &_gray {
        }
    }

    // .hero-gallery__image-wrap

    &__image-wrap {
    }

    // .hero-gallery__image

    &__image {
    }

    // .hero-gallery__footer

    &__footer {
    }

    // .hero-gallery__group

    &__group {
    }

    // .hero-gallery__text

    &__text {
    }

    // .hero-gallery__showmore-btn

    &__showmore-btn {
    }

    // .hero-gallery__btn

    &__btn {
    }
}
.container {
}
.tl1 {
}
. {
    // ._green-coloured

    &_green-coloured {
    }
}
.txt20 {
    // .txt20_caps

    &_caps {
    }
}
.showmore-btn {
    // .showmore-btn__icon

    &__icon {
    }

    // .showmore-btn__text

    &__text {
    }
}
.btn {
    // .btn__text

    &__text {
    }

    // .btn__icon

    &__icon {
    }
}
