.application {
    margin-bottom: 16rem;
    color: $white;
    @media (max-width: 48em) {
        margin-bottom: 24rem;
    }

    // .application__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .application__title

    &__title {
        margin-bottom: 1.6rem;
    }

    // .application__text

    &__text {
        margin-bottom: 4rem;
        @media (max-width: 48em) {
            margin-bottom: 8rem;
        }
    }

    // .application__form

    &__form {
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            max-width: 120.3rem;
        }
    }

    // .application__fields

    &__fields {
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        @media (max-width: 48em) {
            margin-bottom: 5rem;
            row-gap: 5rem;
        }
    }

    // .application__input

    &__input {
    }

    // .application__file-input

    &__file-input {
        margin-bottom: 4rem;
        @media (max-width: 48em) {
            margin-bottom: 8rem;
        }
    }

    // .application__footer

    &__footer {
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 48em) {
            flex-direction: row;
            align-items: center;
            column-gap: 2.4rem;
        }
    }

    // .application__btn

    &__btn {
        align-self: flex-start;
    }

    // .application__footer-text

    &__footer-text {
        @media (max-width: 48em) {
            margin-bottom: 3rem;
            max-width: 71rem;
        }
    }
}
