.main-links {
    margin-top: 5.2rem;
    margin-bottom: 0;
    // .main-links__list
    &__list {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    // .main-links__item
    &__item {
        width: 100%;
        text-align: center;
        color: $white;
        font-family: 'DrukCyr';
        font-size: 10rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: background 0.3s linear, color 0.3s linear;

        border-top: 0.1rem solid rgba(201, 243, 43, 0.5);

        &:nth-child(2):hover {
            background-color: $violet;
        }
        &:nth-child(3):hover {
            background-color: $pink;
        }
        &:nth-child(4):hover {
            background-color: $green;
        }
        &:nth-child(5):hover {
            background-color: $white;
        }

        &:last-child {
            border-bottom: 0.1rem solid rgba(201, 243, 43, 0.5);
        }

        &:hover {
            transition: background 0.3s linear, color 0.3s linear;
            background-color: $yellow;
            color: $main;
        }
        a {
            display: block;
            width: 100%;
            padding: 0.6rem 0;
        }
        &--big {
            font-size: 19.9646rem;
            line-height: 23.387rem; /* 117.143% */

            a {
                padding: 1.8rem 0 3.4rem;
            }
        }
    }
}

@media (max-width: 48em) {
    .main-links {
        margin-top: 0;
        margin-bottom: 0;
        // .main-links__list
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        // .main-links__item
        &__item {
            line-height: 110%;
            border-top: 0.2rem solid rgba(201, 243, 43, 0.5);
            a {
                padding: 2.4rem 0;
            }
            &--big {
                font-size: 11rem;
                line-height: 110%; /* 117.143% */

                a {
                    padding: 2.4rem 0;
                }
            }
        }
    }
}
