.portfolio-d {
    margin-bottom: 16rem;
    position: relative;
    .portfolio-swiper .swiper-slide {
        width: auto !important;
    }
    @media (min-width: 48em) {
        .portfolio-d__swiper .swiper-slide {
            width: auto !important;
        }
    }
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 57.5rem;
        left: 0;
        top: 16rem;
        background-image: url(./assets/images/portfolio-d/line.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .container {
        width: 100%;
    }

    &__title {
        display: flex;
        width: 100%;
        white-space: nowrap;
        margin-bottom: 11.2rem;

        span {
            position: relative;
            padding-right: 10.5rem;
            margin-right: 3.2rem;
            &::before {
                position: absolute;
                content: '';
                width: 7.5rem;
                height: 7.5rem;
                background-image: url(./assets/images/portfolio-d/Union.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }

    &__block {
        padding-left: 44.5rem;
    }

    &__slide {
        &-content {
            width: 72rem;
            height: 50rem;
            display: block;
            position: relative;
        }

        &-image {
            width: 100%;
            height: 100%;
            img {
                border-radius: 4rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            position: absolute;
            z-index: 2;
            border-radius: 5.2rem;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(30px);
            padding: 3rem;
            bottom: 2rem;
            left: 2rem;
            gap: 1rem;
            display: block;
            transition: 0.3s opacity ease;
        }
    }

    .swiper-slide-active {
        .portfolio-d__slide-title {
            opacity: 0;

            @include small-tablet {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 48em) {
    .portfolio-d {
        .container {
            width: 100%;
            padding: 0;
            padding-left: 2rem;
        }
        &__title {
            padding-left: 0;
            overflow: initial;
            margin-left: -53rem;
        }

        &__block {
            padding-left: 0;
        }

        &__slide {
            &-image {
                width: 100%;
                height: 67rem;
                margin-bottom: 1.2rem;
                img {
                    border-radius: 4rem;
                }
            }

            &-title {
                position: initial;
                border-radius: 3rem;
                padding: 2.4rem;
            }

            &-content {
                height: auto;
                width: 100%;
            }

            .tl3 {
                margin-bottom: 1rem;
            }

            .txt28 {
                font-size: 2.4rem;
            }
        }

        .swiper-slide-active {
            .portfolio-d__slide-title {
                display: block;
            }
        }
    }
}
