.service-hero {
    margin-bottom: 16rem;
    padding-top: 3.9rem;

    // .service-hero__container

    &__container {
        display: flex;
        column-gap: 16.5rem;
    }

    // .service-hero__preview

    &__preview {
        padding-top: 18rem;
        display: flex;
        flex-direction: column;
        flex: 0 0 80.5rem;
        width: 80.5rem;
        border-radius: 3rem;
        background-color: $pink;
        @media (min-width: 48em) {
            margin-left: calc((100vw - 172rem) / -2);
        }
    }

    // .service-hero__images

    &__images {
        display: flex;
        column-gap: 3rem;
        transform: translateX(-35rem);
    }

    // .service-hero__image-wrap

    &__image-wrap {
        position: relative;
        flex: 0 0 48rem;
        width: 48rem;
        height: 44.8rem;
        &:first-child {
            transform: rotate(2deg);
        }
        &:last-child {
            transform: rotate(-1.555deg);
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 3rem;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    // .service-hero__image

    &__image {
        display: block;
        height: 100%;
        border-radius: 3rem;
        object-fit: cover;
    }

    // .service-hero__subtitle

    &__subtitle {
        position: absolute;
        top: -9rem;
        left: 50%;
        display: flex;
        flex-direction: column;
        max-width: 38rem;
        white-space: nowrap;
        text-align: center;
        transform: translateX(-50%) rotate(-3.215deg);
    }

    // .service-hero__marquee

    &__marquee {
        position: relative;
        padding: 2.4rem 0;
        overflow: hidden;
        background-color: $green;
    }

    // .service-hero__marquee-txt

    &__marquee-txt {
        display: flex;
        width: fit-content;
        flex: auto;
        overflow: hidden;
        span {
            padding: 0 2rem;
            display: flex;
            column-gap: 4rem;
            flex-shrink: 0;
            font-family: 'DrukCyr';
            white-space: nowrap;
            color: $black;
        }
    }

    // .service-hero__content

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &::after {
            content: '';
            position: absolute;
            top: 4.4rem;
            right: -13.9rem;
            width: 16rem;
            height: 16rem;
            background-image: url(./assets/images/icons/circle.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    // .service-hero__title

    &__title {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        span {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $white;
            color: transparent;
        }
    }

    // .service-hero__text

    &__text {
        margin-bottom: 4.8rem;
        max-width: 54.9rem;
    }

    // .service-hero__btn

    &__btn {
    }
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
