.modal {
    position: absolute;
    bottom: 7.1rem;
    right: 0;
    padding: 3rem 2.4rem;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
    transition: visibility 0.8s ease 0s;
    &.modal_show {
        z-index: 2101;
        visibility: visible;
        overflow: auto;
        pointer-events: auto;
        .modal__content {
            visibility: visible;
            transform: scale(1);
        }
        @media (max-width: 48em) {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            transform: none;
            &.modal_fs {
                padding: 0;
                .modal__content {
                    border-radius: 0;
                    opacity: 1;
                }
            }
        }
    }

    // .modal__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        width: 100%;
        min-height: 100%;
    }

    // .modal__content

    &__content {
        position: relative;
        padding: 4rem 10rem 10rem 4rem;
        max-width: 85rem;
        width: 100%;
        min-height: 87rem;
        border-radius: 4rem;
        background-color: $pink;
        visibility: hidden;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        .lock & {
            visibility: visible;
        }
        @media (max-width: 48em) {
            padding: 3rem 2rem;
            min-height: 100vh;
            .modal_fs & {
                opacity: 0;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }
        }
    }

    // .modal__close

    &__close {
        margin-bottom: 5rem;
        margin-right: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3.4rem;
        height: 3.4rem;
        @media (max-width: 48em) {
            margin-bottom: 10rem;
            width: 6.4rem;
            height: 6.4rem;
        }
    }

    // .modal__close-icon

    &__close-icon {
        height: 100%;
        object-fit: contain;
    }
}

// --------------------------------------------------------------------------

.application-modal {
    color: $black;

    // .application-modal__inner

    &__inner {
        display: flex;
        flex-direction: column;
        @media (min-width: 48em) {
            padding-left: 6rem;
            .modal__close {
                transform: translateX(-6rem);
            }
        }
    }

    // .application-modal__title

    &__title {
        margin-bottom: 1.6rem;
        @media (max-width: 48em) {
            margin-bottom: 3.2rem;
        }
    }

    // .application-modal__text

    &__text {
        margin-bottom: 4rem;
        @media (max-width: 48em) {
            margin-bottom: 8rem;
        }
    }

    // .application-modal__form

    &__form {
        display: flex;
        flex-direction: column;
    }

    // .application-modal__options

    &__options {
        margin-bottom: 3.2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
            gap: 1rem;
        }
    }

    // .application-modal__option

    &__option {
    }

    // .application-modal__fields

    &__fields {
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
            row-gap: 5rem;
        }
    }

    // .application-modal__input

    &__input {
    }

    // .application-modal__file-input

    &__file-input {
        margin-bottom: 4rem;
        @media (max-width: 48em) {
            margin-bottom: 8rem;
        }
    }

    // .application-modal__footer

    &__footer {
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 48em) {
            flex-direction: row;
            align-items: flex-end;
            column-gap: 2.4rem;
        }
    }

    // .application-modal__btn

    &__btn {
        @media (max-width: 48em) {
            align-self: flex-start;
        }
    }

    // .application-modal__footer-text

    &__footer-text {
        max-width: 36.3rem;
        @media (max-width: 48em) {
            margin-bottom: 3rem;
            max-width: 71rem;
        }
    }
}
