.option {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    cursor: pointer;

    // .option__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .option__label .option__text::before {
            border: 2px solid $green;
        }
        &:checked + .option__label .option__text::after {
            transform: scale(0.6);
        }
    }

    // .option__text
    &__text {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        &::before {
            content: '';
            align-self: flex-start;
            flex: 0 0 3rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 2px solid rgba(233, 233, 233);
            transition: border 0.3s ease;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: $green;
            transform: scale(0);
            transform-origin: center;
            transition: transform 0.3s ease;
        }
        @media (max-width: 48em) {
            &::before,
            &::after {
                width: 4rem;
                height: 4rem;
            }
            &::before {
                flex: 0 0 4rem;
            }
            &::after {
                top: 4rem;
            }
        }
    }
}

// <div class="option">
//    <input hidden id="o_1" class="option__input" checked type="radio" value="1" name="option"/>
//    <label for="o_1" class="option__label"><span class="option__text"></span></label>
//  </div>
