.social {
    display: flex;
    align-items: center;
    // .social__link
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.2rem;
        height: 5.2rem;
        background-color: $main;
        border-radius: 50%;
        transition: background 0.2s linear;

        svg {
            width: 2.2rem;
            height: 2.2rem;
        }

        &:hover {
            transition: background 0.2s linear;
            background-color: $white;
        }
    }
}

@media (max-width: 48em) {
    .social {
        // .social__link
        &__link {
            width: 8rem;
            height: 8rem;

            svg {
                width: 3.6rem;
                height: 3.6rem;
            }
        }
    }
}
