.nav {
  display: flex;
  align-items: center;
  // .nav__link
  &__link {
    display: block;
    font-size: 2rem;
    line-height: 140%; /* 28px */
    transition: color 0.2s linear;

    &:hover,
    &:focus-visible {
      transition: color 0.2s linear;
      color: $green;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  // .social__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 5.2rem;
    background-color: $main;
    border-radius: 50%;
    transition: background 0.2s linear;
    @media (max-width: 48em) {
      width: 8rem;
      height: 8rem;

      svg {
        width: 3.6rem;
        height: 3.6rem;
      }
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
    }

    &:hover {
      transition: background 0.2s linear;
      background-color: $white;
    }
  }
}

.burger-btn {
  @media (max-width: 48em) {
    &__btn {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1.4rem;

      span {
        display: block;
        width: 100%;
        height: 0.6rem;
        background-color: $white;
        border-radius: 2.4rem;
      }
    }

    &__close {
      display: none;
    }

    &.open {
      .burger-btn__btn {
        display: none;
      }
      .burger-btn__close {
        display: block;
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

.burger-menu {
  @media (max-width: 48em) {
    display: none;

    width: 100%;
    height: calc(100vh - 12.6rem);
    background-color: #f0f1f4;

    &.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // .burger-menu__wrapper
    &__wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    // .burger-menu__link
    &__link {
      display: flex;
      justify-content: center;

      width: 100%;
      color: $main;
      font-family: 'Druk Cyr';
      font-size: 10rem;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 55px */
      text-transform: uppercase;
      padding: 2.4rem 0;

      &:not(:last-child) {
        border-bottom: 0.2rem solid #282828;
      }

      &:hover,
      &:active,
      &:focus-visible {
        background-color: $pink;
      }
    }
  }
}

// --------------------------------------------------------------------------

.desktop {
  @media (max-width: 48em) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 48em) {
    display: block;
  }
}

// --------------------------------------------------------------------------

.h1 {
  font-family: 'Druk Cyr';
  font-size: 20rem;
  font-weight: 500;
  line-height: 23.387rem; /* 117.143% */
  @media (max-width: 48em) {
    font-size: 11rem;
    line-height: 110%;
  }
}

.h2 {
  font-family: 'Druk Cyr';
  font-size: 10rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 110px */
}

.h3 {
  font-family: 'Druk Cyr';
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 84%; /* 16.8px */
  letter-spacing: 0.16rem;
  @media (max-width: 48em) {
    font-size: 4rem;
    letter-spacing: 0.32rem;
  }
}

.h4 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media (max-width: 48em) {
    font-size: 3.6rem;
  }
}

.text-32 {
  font-size: 3.2rem;
}

.text-m-28 {
  font-size: 2.8rem;
  font-weight: 500;
  @media (max-width: 48em) {
    font-size: 3.6rem;
  }
}

.text-m-20 {
  font-family: 'Druk Cyr';
  font-size: 2.0093rem;
  font-style: normal;
  font-weight: 500;
  line-height: 84%; /* 16.878px */
  letter-spacing: 0.1607rem;
}

.text-20 {
  font-size: 2rem;
  line-height: 140%; /* 28px */
  @media (max-width: 48em) {
    font-size: 2.8rem;
    line-height: normal;
  }
}

.text-16 {
  font-size: 1.6rem;
}
