@font-face {
  font-family: 'Druk Cyr';
  src: url(@fonts/DrukCyr-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url(@fonts/EuclidCircularA-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url(@fonts/EuclidCircularA-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url(@fonts/EuclidCircularA-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
