<section class="about-hero">
    <div class="about-hero__container container">
        <div class="about-hero__bg">
            <div class="about-hero__bg-wrap">
                <img src="./assets/images/about/hero-bg.webp" alt="" class="about-hero__bg-img" />
            </div>
            <svg
                data-wave-line="25,60"
                class="about-hero__wave"
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
            >
                <path
                    id="wavepath"
                    d="M0 318.86C70.1399 269.527 227.174 204 349.5 212C573.346 226.64 776.165 535.36 1123.72 535.36C1471.27 535.36 1485.15 50.3604 1720 50.3604"
                />

                <path
                    class="_mobile-only"
                    id="wavepath-m"
                    d="M-4 78.8171C10.9659 68.1367 44.4726 53.9504 70.5735 55.6824C118.336 58.8518 161.612 125.688 235.77 125.688C309.928 125.688 312.89 20.6882 363 20.6882"
                />

                <text text-anchor="middle">
                    <textPath class="my-text" href="#wavepath" startOffset="50%">
                        <animate
                            attributeName="startOffset"
                            from="0%"
                            to="150%"
                            begin="0s"
                            dur="25s"
                            repeatCount="indefinite"
                        ></animate>
                        Создавая искусство в каждой детали - Создавая искусство в каждой детали - Создавая
                        искусство в каждой детали Создавая искусство в каждой детали - Создавая искусство в
                        каждой детали - Создавая искусство в каждой детали Создавая искусство в каждой детали
                        - Создавая искусство в каждой детали - Создавая искусство в каждой детали Создавая
                        искусство в каждой детали - Создавая искусство в каждой детали - Создавая искусство в
                        каждой детали
                    </textPath>
                </text>
            </svg>
        </div>
        <div class="about-hero__content">
            <div class="about-hero__title-wrap">
                <span class="about-hero__title tl1">о компании</span>
                <a href="#" class="about-hero__btn btn">
                    <span class="btn__text txt20 txt20_caps">наши услуги</span>
                    <svg
                        class="btn__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path d="M6.75586 19.2442V5.11624L17.1164 12.1802L6.75586 19.2442Z" fill="#C9FB40" />
                    </svg>
                </a>
            </div>
            <div class="about-hero__info">
                <p class="about-hero__text txt20">
                    Мы - команда опытных художников, готовых воплотить любую задумку в уникальный и
                    привлекательный образ.
                </p>
                <div class="about-hero__image-wrap">
                    <img src="./assets/images/about/image.webp" alt="" class="about-hero__image" />
                </div>
                <div class="about-hero__group group-about-hero">
                    <div class="group-about-hero__head">
                        <div class="group-about-hero__cr-image-wrap">
                            <img
                                src="./assets/images/about/01.webp"
                                alt=""
                                class="group-about-hero__cr-image"
                            />
                        </div>
                        <div class="group-about-hero__cr-image-wrap">
                            <img
                                src="./assets/images/about/02.webp"
                                alt=""
                                class="group-about-hero__cr-image"
                            />
                        </div>
                        <div class="group-about-hero__cr-image-wrap">
                            <img
                                src="./assets/images/about/03.webp"
                                alt=""
                                class="group-about-hero__cr-image"
                            />
                        </div>
                        <div class="group-about-hero__cr-image-wrap">
                            <img
                                src="./assets/images/about/04.webp"
                                alt=""
                                class="group-about-hero__cr-image"
                            />
                        </div>
                        <div class="group-about-hero__cr-image-wrap">
                            <img
                                src="./assets/images/about/05.webp"
                                alt=""
                                class="group-about-hero__cr-image"
                            />
                        </div>
                    </div>
                    <div class="group-about-hero__content">
                        <span class="group-about-hero__strong-txt txt32">1100+</span>
                        <span class="group-about-hero__text txt20">Счастливых клиентов</span>
                    </div>
                    <div class="group-about-hero__logo-wrap">
                        <img src="./assets/images/icons/cr-logo.svg" alt="" class="group-about-hero__logo" />
                    </div>
                    <div class="group-about-hero__link-wrap">
                        <a href="#" class="group-about-hero__link">
                            <span class="group-about-hero__link-txt txt20 txt20_caps"
                                >посмотреть проекты</span
                            >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="11"
                                height="15"
                                viewBox="0 0 11 15"
                                fill="none"
                            >
                                <path d="M0 15.0001V0.87207L10.3605 7.93607L0 15.0001Z" fill="#C9FB40" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
