<section class="application">
    <div class="application__container container">
        <span class="application__title tl2">ЗАПОЛНИТЕ ЗАЯВКУ</span>
        <p class="application__text txt20">Заполните заявку и мы вам перезвоним</p>
        <form data-dev action="#" class="application__form">
            <div class="application__fields">
                <div class="application__input input input_white">
                    <input
                        data-validate
                        data-required
                        autocomplete="off"
                        type="text"
                        name="form[]"
                        data-error="Подсказка"
                        placeholder="Имя *"
                        class="input__field txt20 txt20_md"
                    />
                </div>
                <div class="application__input input input_white">
                    <input
                        data-phone-mask
                        data-validate
                        data-required
                        autocomplete="off"
                        type="tel"
                        name="form[]"
                        data-error="Подсказка"
                        placeholder="Телефон *"
                        class="input__field txt20 txt20_md"
                    />
                </div>
            </div>
            <div class="application__file-input file-input file-input_white">
                <div class="file-input__content">
                    <div class="file-input__content-inner">
                        <div class="file-input__icon-wrap">
                            <img
                                src="./assets/images/icons/document-upload-black.svg"
                                alt=""
                                class="file-input__icon"
                            />
                        </div>
                        <span class="file-input__title txt20 txt20_caps">прикрепите изображение</span>
                        <input data-file-input="10" type="file" class="file-input__input" />
                    </div>
                    <p data-file-txt class="file-input__text txt16">Максимальный размер файла - 10 мб</p>
                </div>
                <div class="file-input__info">
                    <div class="file-input__image-container">
                        <img data-file-img class="file-input__image" src="" alt="" />
                    </div>
                    <div class="file-input__info-text">
                        <span class="file-input__name txt16"
                            ><span data-file-name>scrin_24334r3r3r</span>.<span data-file-extension
                                >jpg</span
                            ></span
                        >
                        <span class="file-input__size txt16"><span data-file-size>3.4</span> мб</span>
                        <button data-remove-file-btn type="button" class="file-input__remove-btn">
                            <img
                                src="./assets/images/icons/cross-white.svg"
                                alt=""
                                class="file-input__remove-btn-icon"
                            />
                        </button>
                    </div>
                </div>
            </div>
            <div class="application__footer">
                <button type="submit" class="application__btn btn btn_white">
                    <span class="btn__text txt20 txt20_caps">отправить</span>
                    <svg
                        class="btn__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path d="M6.75586 19.2442V5.11621L17.1164 12.1802L6.75586 19.2442Z" fill="white" />
                    </svg>
                </button>
                <p class="application__footer-text txt16">
                    Нажимая "Отправить", я даю согласие на обработку персональных данных.
                </p>
            </div>
        </form>
    </div>
</section>
