<section class="articles">
    <div class="container">
        <div class="articles__content">
            <aside class="articles__filters">
                <h2 class="articles__filters-title">Фильтры</h2>

                <div class="articles__filters-field">
                    <span class="articles__filters-field-title"> По дате </span>

                    <div class="select _select-active _select-filled" data-sel-id="1">
                        <select
                            data-show-selection=""
                            name="form[]"
                            hidden=""
                            data-sel-id="1"
                            data-speed="150"
                        >
                            <option value="1" selected="">2023 г</option>
                            <option value="2">2022 г</option>
                            <option value="3">2022 г</option>
                            <option value="4">2021 г</option>
                        </select>
                    </div>
                </div>
                <div class="articles__filters-field">
                    <span class="articles__filters-field-title"> Категория </span>

                    <div class="select _select-active _select-filled" data-sel-id="1">
                        <select
                            id="select-1"
                            data-show-selection=""
                            name="form[]"
                            hidden=""
                            data-sel-id="1"
                            data-speed="150"
                        >
                            <option value="1" selected="">2023 г</option>
                            <option value="2">2022 г</option>
                            <option value="3">2022 г</option>
                            <option value="4">2021 г</option>
                        </select>
                    </div>
                </div>
            </aside>

            <div class="articles__list-wrapper">
                <ul class="articles__list">
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> Иллюстрация </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title">
                                великолепные иллюстрации, созданные с любовью и талантом
                            </span>

                            <p class="articles__list-item-description">
                                Аккуратно раскрытая книга, элегантно оформленный магазинный окон,
                                захватывающая обложка журнала - все это обычные ситуации, в которых
                                иллюстрации придают нам кусочек вдохновения и красоты. За каждым невероятным
                                произведением искусства несомненно стоит креативный и талантливый художник.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-1.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> gamedev </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title"> искусство воплощения ваших идей </span>

                            <p class="articles__list-item-description">
                                В современном мире визуальное содержание играет огромную роль в привлечении
                                внимания аудитории. Отличные иллюстрации являются ключевым фактором в создании
                                привлекательных рекламных кампаний.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-2.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> Иллюстрация </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title">
                                великолепные иллюстрации, созданные с любовью и талантом
                            </span>

                            <p class="articles__list-item-description">
                                Аккуратно раскрытая книга, элегантно оформленный магазинный окон,
                                захватывающая обложка журнала - все это обычные ситуации, в которых
                                иллюстрации придают нам кусочек вдохновения и красоты. За каждым невероятным
                                произведением искусства несомненно стоит креативный и талантливый художник.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-1.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> gamedev </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title"> искусство воплощения ваших идей </span>

                            <p class="articles__list-item-description">
                                В современном мире визуальное содержание играет огромную роль в привлечении
                                внимания аудитории. Отличные иллюстрации являются ключевым фактором в создании
                                привлекательных рекламных кампаний.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-2.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> Иллюстрация </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title">
                                великолепные иллюстрации, созданные с любовью и талантом
                            </span>

                            <p class="articles__list-item-description">
                                Аккуратно раскрытая книга, элегантно оформленный магазинный окон,
                                захватывающая обложка журнала - все это обычные ситуации, в которых
                                иллюстрации придают нам кусочек вдохновения и красоты. За каждым невероятным
                                произведением искусства несомненно стоит креативный и талантливый художник.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-1.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> gamedev </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title"> искусство воплощения ваших идей </span>

                            <p class="articles__list-item-description">
                                В современном мире визуальное содержание играет огромную роль в привлечении
                                внимания аудитории. Отличные иллюстрации являются ключевым фактором в создании
                                привлекательных рекламных кампаний.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-2.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> Иллюстрация </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title">
                                великолепные иллюстрации, созданные с любовью и талантом
                            </span>

                            <p class="articles__list-item-description">
                                Аккуратно раскрытая книга, элегантно оформленный магазинный окон,
                                захватывающая обложка журнала - все это обычные ситуации, в которых
                                иллюстрации придают нам кусочек вдохновения и красоты. За каждым невероятным
                                произведением искусства несомненно стоит креативный и талантливый художник.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-1.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                    <li class="articles__list-item">
                        <a href="#">
                            <div class="articles__list-item-heading">
                                <span class="articles__list-item-category"> gamedev </span>

                                <figure class="articles__list-item-icon">
                                    <svg
                                        width="25"
                                        height="24"
                                        viewBox="0 0 25 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M21.5411 13.2799L20.6211 12.3799L12.8711 20.1199L13.8011 21.0499C14.5811 21.8299 15.3911 22.2199 16.1911 22.2199C16.9911 22.2199 17.8011 21.8299 18.5811 21.0499L21.5411 18.0899C23.1311 16.4899 23.1311 14.8799 21.5411 13.2799Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M11.1917 2.92994C9.62172 1.35994 7.97172 1.35994 6.40172 2.92994L3.43172 5.88994C1.87172 7.45994 1.87172 9.10994 3.43172 10.6799L4.35172 11.5999L12.1017 3.84994L11.1917 2.92994Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M22.3098 3.94009C20.9998 7.21009 18.0098 11.4801 15.1598 14.2701C14.7498 11.6901 12.6898 9.67009 10.0898 9.31009C12.8898 6.45009 17.1898 3.42009 20.4698 2.10009C21.0498 1.88009 21.6298 2.05009 21.9898 2.41009C22.3698 2.79009 22.5498 3.36009 22.3098 3.94009Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M14.2811 15.09C14.0811 15.26 13.8811 15.43 13.6811 15.59L11.8911 17.02C11.8911 16.99 11.8811 16.95 11.8811 16.91C11.7411 15.84 11.2411 14.85 10.4311 14.04C9.61109 13.22 8.59109 12.72 7.47109 12.58C7.44109 12.58 7.40109 12.57 7.37109 12.57L8.82109 10.74C8.96109 10.56 9.11109 10.39 9.27109 10.21L9.95109 10.3C12.1011 10.6 13.8311 12.29 14.1711 14.43L14.2811 15.09Z"
                                            fill="#1F1F22"
                                        />
                                        <path
                                            d="M10.9298 17.6201C10.9298 18.7201 10.5098 19.7701 9.70976 20.5601C9.09976 21.1801 8.27977 21.6001 7.27977 21.7201L4.82976 21.9901C3.48976 22.1401 2.33976 20.9901 2.48976 19.6401L2.75976 17.1801C2.99976 14.9901 4.82976 13.5901 6.76976 13.5501C6.95976 13.5401 7.16976 13.5501 7.36976 13.5701C8.21976 13.6801 9.03976 14.0701 9.72976 14.7501C10.3998 15.4201 10.7798 16.2101 10.8898 17.0401C10.9098 17.2401 10.9298 17.4301 10.9298 17.6201Z"
                                            fill="#1F1F22"
                                        />
                                    </svg>
                                </figure>

                                <time class="articles__list-item-date" datetime="01.10.23"> 01.10.23 </time>
                            </div>

                            <span class="articles__list-item-title"> искусство воплощения ваших идей </span>

                            <p class="articles__list-item-description">
                                В современном мире визуальное содержание играет огромную роль в привлечении
                                внимания аудитории. Отличные иллюстрации являются ключевым фактором в создании
                                привлекательных рекламных кампаний.
                            </p>

                            <figure class="articles__list-item-image">
                                <img src="../assets/images/articles/articles-image-2.webp" alt="" />
                            </figure>

                            <span class="articles__list-item-link"> читать подробнее </span>
                        </a>
                    </li>
                </ul>

                <button class="articles__list-button">
                    ЗАГРУЗИТЬ  ЕЩЕ
                </button>
            </div>
        </div>
    </div>
</section>
