<section class="articles-hero">
    <div class="articles-hero__container container">
        <div class="articles-hero__bg">
            <span class="articles-hero__title tl1">полезные</span>
            <div class="articles-hero__bg-inner">
                <span class="articles-hero__title tl1">полезные</span>
                <div class="articles-hero__image-wrap">
                    <img src="./assets/images/picture/20.webp" alt="" class="articles-hero__image" />
                </div>
                <span class="articles-hero__title tl1">статьи</span>
            </div>
            <span class="articles-hero__title tl1">статьи</span>
            <div
                data-da=".articles-hero__info,768,last"
                class="articles-hero__image-wrap articles-hero__image-wrap_small"
            >
                <img src="./assets/images/picture/4.webp" alt="" class="articles-hero__image" />
            </div>
        </div>
        <div class="articles-hero__info">
            <ul class="articles-hero__list">
                <li class="articles-hero__list-item txt20 txt20_caps">иллюстрации</li>
                <li class="articles-hero__list-item txt20 txt20_caps">gamedev</li>
                <li class="articles-hero__list-item txt20 txt20_caps">nft</li>
                <li class="articles-hero__list-item txt20 txt20_caps">и другое</li>
            </ul>
        </div>
        <div class="articles-hero__wave-container wave-container">
            <svg
                data-wave-line="1920,1080,375,146"
                class="wave-container__inner"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="none"
                viewBox="0 0 1920 1080"
            >
                <path
                    id="wavepath"
                    d="M-352.016 388.74C-273.924 351.306 -123.772 263.74 52.6756 263.74C229.123 263.74 208.545 469.993 447.749 469.993C701.679 469.993 638.503 160.73 913.521 166.777C1188.54 172.825 1167.24 441.485 1433.93 441.485C1700.61 441.485 1849.69 41.5169 2046 50.1555"
                />

                <path
                    class="_mobile-only"
                    id="wavepath-m"
                    d="M-138.867 105.488C-119.007 96.0452 -80.8201 73.9569 -35.9458 73.9569C8.92854 73.9569 3.69504 125.984 64.5296 125.984C129.109 125.984 113.042 47.973 182.985 49.4983C252.928 51.0237 247.512 118.793 315.335 118.793C383.158 118.793 421.074 17.9016 470.999 20.0807"
                />

                <text text-anchor="middle">
                    <textPath class="my-text" href="#wavepath" startOffset="50%">
                        <animate
                            attributeName="startOffset"
                            from="0%"
                            to="150%"
                            begin="0s"
                            dur="25s"
                            repeatCount="indefinite"
                        ></animate>
                        статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                        статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                        статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                        статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                        статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                        статьи статьи статьи статьи статьи
                    </textPath>
                </text>
            </svg>
        </div>
    </div>
</section>
