<section class="article">
    <div class="container">
        <div class="article__heading">
            <div class="article__heading-info">
                <span class="article__heading-subtitle"> Иллюстрация </span>

                <h1 class="article__heading-title">искусство воплощения ваших идей</h1>

                <p class="article__heading-description">
                    В современном мире визуальное содержание играет огромную роль в привлечении внимания
                    аудитории. Отличные иллюстрации являются ключевым фактором в создании привлекательных
                    рекламных кампаний.
                </p>
            </div>

            <div class="article__heading-poster">
                <figure class="article__heading-poster-image">
                    <img src="./assets/images/article-detailed/poster-image.webp" alt="" />
                </figure>

                <figure class="article__heading-poster-icon">
                    <img src="./assets/images/article-detailed/poster-icon.svg" alt="" />
                </figure>
            </div>
        </div>

        <div class="article__content">
            <aside class="article__shares">
                <time class="article__shares-date" datetime="01.10.23"> 01.10.23 </time>

                <ul class="article__shares-socials-list">
                    <li class="article__shares-socials-item">
                        <a href="#">
                            <img src="./assets/images/icons/social/vk.svg" alt="" />
                        </a>
                    </li>
                    <li class="article__shares-socials-item">
                        <a href="#">
                            <img src="./assets/images/icons/social/twitter.svg" alt="" />
                        </a>
                    </li>
                    <li class="article__shares-socials-item">
                        <a href="#">
                            <img src="./assets/images/icons/social/telegram-white.svg" alt="" />
                        </a>
                    </li>
                </ul>

                <a href="#" class="article__shares-link btn desktop">
                    <span class="btn__text">ОСТАВИТЬ ЗАЯВКУ</span>

                    <svg
                        class="btn__icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M6.75391 19.2442V5.11621L17.1144 12.1802L6.75391 19.2442Z" fill="#C9FB40" />
                    </svg>
                </a>
            </aside>

            <div class="article__content-block">
                <h2 class="article__title">
                    В современном мире визуальное содержание играет огромную роль в привлечении внимания
                    аудитории. Отличные иллюстрации являются ключевым фактором в создании привлекательных
                    рекламных кампаний.
                </h2>

                <p class="article__description">
                    Наше агентство, специализирующееся на иллюстрациях на заказ, предлагает уникальную
                    возможность перенести ваши концепции визуально и сделать их неповторимыми. Мы сотрудничаем
                    с талантливыми художниками со всего мира, у которых есть глубокое понимание и опыт в
                    создании иллюстраций в различных стилях и жанрах.
                </p>

                <p class="article__description">
                    Наше агентство, специализирующееся на иллюстрациях на заказ, предлагает уникальную
                    возможность перенести ваши концепции визуально и сделать их неповторимыми. Мы сотрудничаем
                    с талантливыми художниками со всего мира, у которых есть глубокое понимание и опыт в
                    создании иллюстраций в различных стилях и жанрах.
                </p>

                <figure class="article__block-image">
                    <img src="./assets/images/article-detailed/article-image.webp" alt="" />

                    <figcaption class="article__block-image-description">
                        Иллюстрация “Подросток на крыше”
                    </figcaption>
                </figure>

                <h2 class="article__title">
                    Работая с нашим агентством иллюстраций на заказ, вы можете быть уверены, что ваши идеи
                    получат потрясающее визуальное воплощение. Что отличает наше агентство от других?
                </h2>

                <ul class="article__list">
                    <li class="article__item">
                        <p class="article__item-text">
                            1. Одним из главных преимуществ сотрудничества с нами является возможность полного
                            настройки и индивидуальной работы. Мы тщательно прорабатываем каждую деталь вашего
                            проекта, учитывая ваши ожидания и потребности, чтобы достичь оптимального
                            результата.
                        </p>
                    </li>

                    <li class="article__item">
                        <p class="article__item-text">
                            2. Наши художники обладают не только технической иллюстративной экспертизой, но и
                            уникальной творческой визией. Они способны передать эмоции и идеи через
                            изображения, что делает работу действительно искусством.
                        </p>
                    </li>

                    <li class="article__item">
                        <p class="article__item-text">
                            3. Мы предлагаем широкий спектр иллюстрационных стилей и жанров, чтобы лучше
                            соответствовать вашим требованиям. Независимо от того, нужна ли вам
                            фэнтези-иллюстрация, научное изображение или юмористический комикс, мы готовы
                            воплотить вашу идею в жизнь.
                        </p>
                    </li>

                    <li class="article__item">
                        <p class="article__item-text">
                            4. Соблюдение сроков и качество работы - наши основные принципы. Мы всегда
                            отвечаем за свою работу и стремимся превзойти ожидания наших клиентов.
                        </p>
                    </li>
                </ul>

                <button type="button" class="article__shares-link btn mobile">
                    <span class="btn__text">ОСТАВИТЬ ЗАЯВКУ</span>

                    <svg
                        class="btn__icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M6.75391 19.2442V5.11621L17.1144 12.1802L6.75391 19.2442Z" fill="#C9FB40" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
