<section class="articles-hero">
    <div class="articles-hero__container container">
        <div class="articles-hero__bg">
            <span class="articles-hero__title tl1">полезные</span>
            <div class="articles-hero__bg-inner">
                <span class="articles-hero__title tl1">полезные</span>
                <div class="articles-hero__image-wrap">
                    <img src="./assets/images/picture/20.webp" alt="" class="articles-hero__image" />
                </div>
                <span class="articles-hero__title tl1">статьи</span>
            </div>
            <span class="articles-hero__title tl1">статьи</span>
            <div
                data-da=".articles-hero__info,768,last"
                class="articles-hero__image-wrap articles-hero__image-wrap_small"
            >
                <img src="./assets/images/picture/4.webp" alt="" class="articles-hero__image" />
            </div>
        </div>
        <div class="articles-hero__info">
            <ul class="articles-hero__list">
                <li class="articles-hero__list-item txt20 txt20_caps">иллюстрации</li>
                <li class="articles-hero__list-item txt20 txt20_caps">gamedev</li>
                <li class="articles-hero__list-item txt20 txt20_caps">nft</li>
                <li class="articles-hero__list-item txt20 txt20_caps">и другое</li>
            </ul>
        </div>
    </div>
    <svg
        data-wave-line="25,60"
        class="articles-hero__wave"
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
    >
        <path
            id="wavepath"
            d="M-352.016 388.74C-273.924 351.306 -123.772 263.74 52.6756 263.74C229.123 263.74 208.545 469.993 447.749 469.993C701.679 469.993 638.503 160.73 913.521 166.777C1188.54 172.825 1167.24 441.485 1433.93 441.485C1700.61 441.485 1849.69 41.5169 2046 50.1555"
        />

        <text text-anchor="middle">
            <textPath class="my-text" href="#wavepath" startOffset="50%">
                <animate
                    attributeName="startOffset"
                    from="0%"
                    to="150%"
                    begin="0s"
                    dur="25s"
                    repeatCount="indefinite"
                ></animate>
                статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
                статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи статьи
            </textPath>
        </text>
    </svg>
</section>
