<section class="location">
    <div class="container">
        <div class="location__content">
            <div class="location__map">
                <div id="location-map"></div>
            </div>

            <div class="location__info">
                <h1 class="location__title">МОСКВА</h1>

                <div class="location__contacts">
                    <address class="location__contacts-address">
                        Кутузовский проспект, д. 2/1, строение 6 Конгресс-парк, гост. Украина Этаж - 3
                    </address>

                    <ul class="location__contacts-list">
                        <li class="location__contacts-item">
                            <a href="mailto:RD@requestdesign.ru"> RD@requestdesign.ru </a>
                        </li>

                        <li class="location__contacts-item">
                            <a href="tel:+7 (495) 859-21-36"> +7 (495) 859-21-36 </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
