<section id="gallerySection" class="hero-gallery">
    <div class="hero-gallery__container container">
        <div class="hero-gallery__head">
            <span class="hero-gallery__title tl1">
                Разработка <span class="_coloured-txt">уникальных</span> артов
            </span>
        </div>
        <div id="GPlaneBody" class="hero-gallery__body">
            <div id="GPlaneWrap" class="hero-gallery__plane-wrap">
                <div id="GPlane" data-zoom="10" class="hero-gallery__plane">
                    <div data-title="заголовок" class="hero-gallery__item _a">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/7.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _b">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/10.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _c">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/3.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title class="hero-gallery__item hero-gallery__item_gray _d">
                        <a href="#!" class="hero-gallery__image-wrap"> </a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _e">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/4.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="девочка танцует" class="hero-gallery__item _f">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/1.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _g">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/22.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _h">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/8.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _i">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/21.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _j">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/9.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _k">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/27.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _l">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/23.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _m">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/13.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _n">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/17.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _o">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/15.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _p">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/14.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _q">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/12.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _r">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/19.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _s">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/6.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _t">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/20.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _u">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/1.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _v">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/16.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _w">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/26.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _x">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/18.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _y">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/11.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title class="hero-gallery__item _z">
                        <a href="#!" class="hero-gallery__image-wrap"> </a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _a1">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/2.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _b1">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/24.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title class="hero-gallery__item _c1">
                        <a href="#!" class="hero-gallery__image-wrap"> </a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _d1">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/5.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                    <div data-title="заголовок" class="hero-gallery__item _e1">
                        <a href="#!" class="hero-gallery__image-wrap"
                            ><img src="./assets/images/picture/25.webp" alt="" class="hero-gallery__image"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-gallery__footer">
            <div class="hero-gallery__group">
                <p class="hero-gallery__text txt20">
                    разработем иллюстрацию, NFT, персонажа, придумаем историю
                </p>
                <button id="zoomGPlaneBtn" type="button" class="hero-gallery__showmore-btn showmore-btn">
                    <svg
                        class="showmore-btn__icon"
                        width="52"
                        height="52"
                        viewBox="0 0 52 52"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle cx="26" cy="26" r="26" fill="#ED89FB" />
                        <path
                            d="M31.6912 24.995C32.1412 25.895 32.3737 26.8625 32.3737 27.875C32.3737 31.3925 29.5162 34.25 25.9987 34.25C22.4812 34.25 19.6237 31.3925 19.6237 27.875C19.6237 24.3575 22.4812 21.5 25.9987 21.5C26.0512 21.5 26.1787 21.5 26.3137 21.545C26.5687 21.6275 26.7562 21.845 26.8087 22.1075C27.1237 23.615 28.4662 24.7175 30.0112 24.7175C30.2962 24.7175 30.5737 24.68 30.8137 24.6125C31.1662 24.515 31.5262 24.68 31.6912 24.995ZM25.9987 17.75C20.8687 17.75 15.6112 22.25 14.7562 27.3725C14.6887 27.7775 14.9662 28.1675 15.3712 28.235C15.7762 28.3025 16.1662 28.025 16.2337 27.62C16.9012 23.6675 21.2137 19.25 25.9987 19.25C30.7837 19.25 35.0962 23.6675 35.7562 27.62C35.8162 27.9875 36.1387 28.25 36.4987 28.25C36.5362 28.25 36.5812 28.25 36.6262 28.2425C37.0312 28.175 37.3087 27.785 37.2412 27.38C36.3862 22.25 31.1287 17.75 25.9987 17.75Z"
                            fill="white"
                        />
                    </svg>
                    <svg
                        class="showmore-btn__icon _mobile-only"
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle cx="22" cy="22" r="22" fill="#C9FB40" />
                        <path
                            d="M22 22L11 11M22 22L33 33M22 22L33 11M22 22L11 33"
                            stroke="#1F1F22"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>

                    <span class="showmore-btn__text txt20 txt20_caps">СМОТРЕТЬ ДЕТАЛЬНЕЕ</span>
                </button>
            </div>
            <button type="button" class="hero-gallery__btn btn">
                <span class="btn__text txt20 txt20_caps">ОСТАВИТЬ ЗАЯВКУ</span>
                <svg
                    class="btn__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                >
                    <path d="M6.75586 19.2442V5.11624L17.1164 12.1802L6.75586 19.2442Z" fill="#C9FB40" />
                </svg>
            </button>
        </div>
        <div id="HGPopup" class="hero-gallery__popup popup-hero-gallery">
            <span id="HGPopupTitle" class="popup-hero-gallery__title tl3"> ДЕВОЧКА ТАНЦУЕТ </span>
            <div class="popup-hero-gallery__icon">
                <svg
                    width="52"
                    height="52"
                    viewBox="0 0 52 52"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="26" cy="26" r="26" fill="#1F1F22" />
                    <path
                        d="M31.6912 24.995C32.1412 25.895 32.3737 26.8625 32.3737 27.875C32.3737 31.3925 29.5162 34.25 25.9987 34.25C22.4812 34.25 19.6237 31.3925 19.6237 27.875C19.6237 24.3575 22.4812 21.5 25.9987 21.5C26.0512 21.5 26.1787 21.5 26.3137 21.545C26.5687 21.6275 26.7562 21.845 26.8087 22.1075C27.1237 23.615 28.4662 24.7175 30.0112 24.7175C30.2962 24.7175 30.5737 24.68 30.8137 24.6125C31.1662 24.515 31.5262 24.68 31.6912 24.995ZM25.9987 17.75C20.8687 17.75 15.6112 22.25 14.7562 27.3725C14.6887 27.7775 14.9662 28.1675 15.3712 28.235C15.7762 28.3025 16.1662 28.025 16.2337 27.62C16.9012 23.6675 21.2137 19.25 25.9987 19.25C30.7837 19.25 35.0962 23.6675 35.7562 27.62C35.8162 27.9875 36.1387 28.25 36.4987 28.25C36.5362 28.25 36.5812 28.25 36.6262 28.2425C37.0312 28.175 37.3087 27.785 37.2412 27.38C36.3862 22.25 31.1287 17.75 25.9987 17.75Z"
                        fill="white"
                    />
                </svg>
            </div>
        </div>
    </div>
</section>
