<section class="main-rates">
    <div class="main-rates__container container">
        <div class="main-rates__inner">
            <div class="main-rates__title tl2">Тарифы</div>
            <div class="main-rates__wrapper">
                <div class="main-rates__item rates-item rates-item--bg--pink">
                    <div class="rates-item__left">
                        <div class="rates-item__title txt28 txt28_md">Векторные иллюстрации</div>
                    </div>
                    <div class="rates-item__right">
                        <div class="rates-item__price">
                            <div class="rates-item__price-top">
                                <span class="txt20">от</span><strong class="txt28 txt28_md">5000</strong
                                ><sup class="txt20">₽</sup>
                            </div>
                            <div class="rates-item__price-bottom txt20">Одна иллюстрация</div>
                        </div>
                        <div class="rates-item__options txt20">Включено сопровождение</div>
                        <a href="#" class="rates-item__btn btn btn_black">
                            <span class="btn__text txt20 txt20_caps">ЗАКАЗАТЬ</span>
                            <svg
                                class="btn__icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M6.75952 19.2442V5.11621L17.1201 12.1802L6.75952 19.2442Z"
                                    fill="#1F1F22"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="rates-item__icon rates-icon rates-icon--sunny">
                        <img src="./assets/images/icons/content/tariff/sunny.svg" alt="" />
                    </div>
                    <div class="rates-item__icon rates-icon rates-icon--shapes">
                        <img src="./assets/images/icons/content/tariff/shapes.svg" alt="" />
                    </div>
                </div>
                <div class="main-rates__item rates-item rates-item--bg--blue">
                    <div class="rates-item__left">
                        <div class="rates-item__title txt28 txt28_md">Векторные иллюстрации</div>
                    </div>
                    <div class="rates-item__right">
                        <div class="rates-item__price">
                            <div class="rates-item__price-top">
                                <span class="txt20">от</span><strong class="txt28 txt28_md">5000</strong
                                ><sup class="txt20">₽</sup>
                            </div>
                            <div class="rates-item__price-bottom txt20">Одна иллюстрация</div>
                        </div>
                        <div class="rates-item__options txt20">Включено сопровождение</div>
                        <a href="#" class="rates-item__btn btn btn_black">
                            <span class="btn__text txt20 txt20_caps">ЗАКАЗАТЬ</span>
                            <svg
                                class="btn__icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M6.75952 19.2442V5.11621L17.1201 12.1802L6.75952 19.2442Z"
                                    fill="#1F1F22"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="rates-item__icon rates-icon rates-icon--sunny">
                        <img src="./assets/images/icons/content/tariff/sunny.svg" alt="" />
                    </div>
                    <div class="rates-item__icon rates-icon rates-icon--shapes">
                        <img src="./assets/images/icons/content/tariff/shapes.svg" alt="" />
                    </div>
                </div>
                <div class="main-rates__item rates-item rates-item--bg--green">
                    <div class="rates-item__left">
                        <div class="rates-item__title txt28 txt28_md">Векторные иллюстрации</div>
                    </div>
                    <div class="rates-item__right">
                        <div class="rates-item__price">
                            <div class="rates-item__price-top">
                                <span class="txt20">от</span><strong class="txt28 txt28_md">5000</strong
                                ><sup class="txt20">₽</sup>
                            </div>
                            <div class="rates-item__price-bottom txt20">Одна иллюстрация</div>
                        </div>
                        <div class="rates-item__options txt20">Включено сопровождение</div>
                        <a href="#" class="rates-item__btn btn btn_black">
                            <span class="btn__text txt20 txt20_caps">ЗАКАЗАТЬ</span>
                            <svg
                                class="btn__icon"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <path
                                    d="M6.75952 19.2442V5.11621L17.1201 12.1802L6.75952 19.2442Z"
                                    fill="#1F1F22"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="rates-item__icon rates-icon rates-icon--sunny">
                        <img src="./assets/images/icons/content/tariff/sunny.svg" alt="" />
                    </div>
                    <div class="rates-item__icon rates-icon rates-icon--shapes">
                        <img src="./assets/images/icons/content/tariff/shapes.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
