<section class="main-concept">
    <div class="container main-concept__container">
        <div class="main-concept__inner">
            <div class="main-concept__header">
                <div class="main-concept__title tl2">ОТ КОНЦЕПТА ДО ПОЛНОЙ ДЕТАЛИЗАЦИИ</div>
                <div class="main-concept__subtitle text-m-28">
                    иллюстрации от концепта, до полной детализации
                </div>
            </div>
            <div class="main-concept__content">
                <div class="main-concept__slider-wrapper swiper-wrapper">
                    <div class="main-concept__left swiper-slide">
                        <div class="main-concept__wrapper">
                            <a class="main-concept__box" href="#">
                                <div class="main-concept__image">
                                    <img src="../assets/images/picture/13.webp" alt="" />
                                </div>
                            </a>
                            <div class="main-concept__link">
                                <a href="#">заказать концепт</a>
                            </div>
                        </div>
                    </div>
                    <div class="main-concept__right swiper-slide">
                        <div class="main-concept__wrapper">
                            <a class="main-concept__box" href="#">
                                <div class="main-concept__image">
                                    <img src="../assets/images/picture/14.webp" alt="" />
                                </div>
                            </a>
                            <div class="main-concept__link">
                                <a href="#">задание под ключ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-concept__divider"></div>
            </div>
        </div>
    </div>
</section>
