<section data-change-color="#cad2f4" class="team">
    <div class="container">
        <div class="team__content">
            <div class="team__text">
                <h2 class="team__title">наша команда</h2>

                <figure class="team__text-image">
                    <img src="./assets/images/our-team/team-image.webp" alt="" />
                </figure>
            </div>

            <div class="team__info">
                <h3 class="team__info-title">
                    Мы - команда творческих душ, которые стремятся приносить красоту и вдохновение в мир через
                    искусство.
                </h3>

                <p class="team__info-description">
                    Мы гордимся нашей командой и с нетерпением ждем возможности сотрудничества с вами
                </p>

                <div class="team__info-figures">
                    <figure class="team__info-figure-icon">
                        <img src="./assets/images/our-team/team-info-icon.svg" alt="" />
                    </figure>

                    <figure class="team__info-figure-image">
                        <img src="./assets/images/our-team/team-info-image.webp" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
