<section class="portfolio-hero-content">
    <span class="portfolio-hero-content__title tl1">НАШЕ ПОРТФОЛИО</span>
    <button type="button" class="portfolio-hero-content__btn btn">
        <span class="btn__text txt20 txt20_caps">ОСТАВИТЬ ЗАЯВКУ</span>
        <svg
            class="btn__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
        >
            <path d="M6.75586 19.2442V5.11624L17.1164 12.1802L6.75586 19.2442Z" fill="#C9FB40" />
        </svg>
    </button>
    <div id="PHEllipse" class="portfolio-hero-content__ellipse"></div>
</section>
