<section id="portfolioHero" class="portfolio-hero">
    <div class="portfolio-hero__container container">
        <div class="portfolio-hero__content">
            <span class="portfolio-hero__title tl1">НАШЕ ПОРТФОЛИО</span>
            <button type="button" class="portfolio-hero__btn btn">
                <span class="btn__text txt20 txt20_caps">ОСТАВИТЬ ЗАЯВКУ</span>
                <svg
                    class="btn__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                >
                    <path d="M6.75586 19.2442V5.11624L17.1164 12.1802L6.75586 19.2442Z" fill="#C9FB40" />
                </svg>
            </button>
            <div id="PHEllipse" class="portfolio-hero__ellipse"></div>
        </div>
        <div class="portfolio-hero__grid">
            <div class="portfolio-hero__group">
                <span class="portfolio-hero__subtitle tl3">900</span>
                <span class="portfolio-hero__text txt20">Социальных проектов</span>
            </div>
            <div class="portfolio-hero__group">
                <span class="portfolio-hero__subtitle tl3">1100</span>
                <span class="portfolio-hero__text txt20">Отзывов от клиентов</span>
            </div>
            <div class="portfolio-hero__group portfolio-hero__group_align-right">
                <span class="portfolio-hero__subtitle tl3">7</span>
                <span class="portfolio-hero__text txt20">Лет на рынке</span>
            </div>
            <div class="portfolio-hero__group portfolio-hero__group_align-right">
                <span class="portfolio-hero__subtitle tl3">30</span>
                <span class="portfolio-hero__text txt20">Наград получено</span>
            </div>
        </div>
    </div>
</section>
