<section id="portfolioHero" class="portfolio-hero">
    <div class="portfolio-hero__container container">
        <div class="portfolio-hero__grid">
            <div class="portfolio-hero__group">
                <span class="portfolio-hero__subtitle tl3">900</span>
                <span class="portfolio-hero__text txt20">Социальных проектов</span>
            </div>
            <div class="portfolio-hero__group">
                <span class="portfolio-hero__subtitle tl3">1100</span>
                <span class="portfolio-hero__text txt20">Отзывов от клиентов</span>
            </div>
            <div class="portfolio-hero__group portfolio-hero__group_align-right">
                <span class="portfolio-hero__subtitle tl3">7</span>
                <span class="portfolio-hero__text txt20">Лет на рынке</span>
            </div>
            <div class="portfolio-hero__group portfolio-hero__group_align-right">
                <span class="portfolio-hero__subtitle tl3">30</span>
                <span class="portfolio-hero__text txt20">Наград получено</span>
            </div>
        </div>
    </div>
</section>
