<!--<section class="portfolio-d-ab">-->
<!--    <div class="container">-->
<!--        <div class="portfolio-d-ab__wrapper">-->
<!--            <div class="portfolio-d-ab__title">-->
<!--                <h2 class="tl2">О ПРОЕКТЕ</h2>-->
<!--                <span class="text-20">-->
<!--                    Процесс создания иллюстрации для gamedev сопровождается не только техническими задачами, но и творческими решениями. Художник выбирает подходящий стиль и передает в своих работах не только визуальные эффекты, но и эмоции, которые призваны вызвать у игрока определенные чувства.-->
<!--                </span>-->
<!--            </div>-->
<!--            <div class="portfolio-d-ab__content">-->
<!--                <div class="portfolio-d-ab__content-title text-m-28">Процесс работы:</div>-->
<!--                <ul class="portfolio-d-ab__process">-->
<!--                    <li class="portfolio-d-ab__process-item text-20">1. Сбор референсов</li>-->
<!--                    <li class="portfolio-d-ab__process-item text-20">2. Утверждение концепт-арта</li>-->
<!--                    <li class="portfolio-d-ab__process-item text-20">3. Создание эскиза</li>-->
<!--                    <li class="portfolio-d-ab__process-item text-20">4. Детализация</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->