<section class="portfolio">
    <div class="portfolio__container container">
        <div class="portfolio__title tl2">портфолио</div>
        <div class="portfolio__cards">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <a href="#" class="portfolio__card project-card project-card_large">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/15.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card project-card_small">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/1.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card project-card_small">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/3.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/28.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card project-card_large">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/20.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card project-card_small">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/23.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card project-card_small">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/26.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
            <a href="#" class="portfolio__card project-card">
                <div class="project-card__image-wrap">
                    <img src="./assets/images/picture/14.webp" alt="" class="project-card__image" />
                </div>
                <div class="project-card__content">
                    <span class="project-card__title tl3">ДЕВОЧКА ТАНЦУЕТ</span>
                    <span class="project-card__subtitle txt28 txt28_md">Скейтер</span>
                </div>
            </a>
        </div>
        <a href="#" class="portfolio__link link"
            ><span class="link__text txt20 txt20_caps">ЗАГРУЗИТЬ ЕЩЕ</span></a
        >
    </div>
</section>
