<section class="portfolio-d-m">
    <div class="container">
        <div class="portfolio-d-m__wrapper">
            <div class="portfolio-d-m__game text-20">
                GAMEDEV
            </div>
            <div class="portfolio-d-m__date text-20">
                01.08.23
            </div>
            <div class="portfolio-d-m__string ">
                <div class="portfolio-d-m__string-wrapper ">
                    <div class="portfolio-d-m__string-text">REQUEST ART REQUEST ART REQUEST ART</div>
                    
                </div>
            </div>
            <!-- swiper -->
            <div class="portfolio-d-m__content">
                <div class="portfolio-d-m__content-image">
                    <img src="./assets/images/portfolio-d/girl.png" alt="">
                </div>
                <div class="portfolio-d-m__title">
                    <h2 class="tl2">ДЕВОЧКА<br> ТАНЦУЕТ</h2>
                    <span class="text-m-28">Скейтер</span>
                </div>
                <a href="#" class="portfolio-d-m__content-btn btn ">
                    <span class="btn__text txt20 txt20_caps">ЗАКАЗАТЬ ИЛЛЮСТРАЦИЮ</span>
                    <svg
                        class="btn__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path d="M6.75952 19.2442V5.11621L17.1201 12.1802L6.75952 19.2442Z" fill="#C9FB40" />
                    </svg>
                </a>
                <div class="portfolio-d-m__circle">
                    <div class="portfolio-d-m__circle-text txt16">
                        ОТ КОНЦЕПТА<br> ДО<br> ПОЛНОЙ ДЕТАЛИЗАЦИИ
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>