<section class="portfolio-d">
    <div class="container">
        <div class="portfolio-d__wrapper">
            <div class="portfolio-d__title">
                <span class="tl2">вам может понравиться</span>
                <span class="tl2">вам может понравиться</span>
                <span class="tl2">вам может понравиться</span>
            </div>
            <div class="portfolio-d__block">
                <div class="portfolio-d__swiper swiper">
                    <div class="portfolio-d__swiper-wrapper swiper-wrapper">
                        <div class="portfolio-d__slide swiper-slide">
                            <a href="#" class="portfolio-d__slide-content">
                               
                                    <div class="portfolio-d__slide-image ">
                                        <img src="./assets/images/portfolio-d/port1.webp" alt="">
                                    </div>
                                    <div class="portfolio-d__slide-title">
                                        <h3 class="tl3">СКЕЙТЕР</h3>
                                        <span class="txt28">Скейтер</span>
                                    </div>
                                
                                <!-- <div class="portfolio-d__slide-title">
                                    <h3>СКЕЙТЕР</h3>
                                    <span>Скейтер</span>
                                </div> -->
                            </a>
                        </div>
                        <div class="portfolio-d__slide swiper-slide">
                            <a href="#" class="portfolio-d__slide-content">
                                <div class="portfolio-d__slide-image">
                                    <img src="./assets/images/portfolio-d/port2.webp" alt="">
                                </div>
                                <div class="portfolio-d__slide-title">
                                    <h3 class="tl3">СКЕЙТЕР</h3>
                                    <span class="txt28">Скейтер</span>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-d__slide swiper-slide">
                            <a href="#" class="portfolio-d__slide-content">
                                <div class="portfolio-d__slide-image">
                                    <img src="./assets/images/portfolio-d/port1.webp" alt="">
                                </div>
                                <!-- <div class="portfolio-d__slide-title">
                                    <h3>СКЕЙТЕР</h3>
                                    <span>Скейтер</span>
                                </div> -->
                            </a>
                        </div>
                        <div class="portfolio-d__slide swiper-slide">
                            <a href="#" class="portfolio-d__slide-content">
                                <div class="portfolio-d__slide-image">
                                    <img src="./assets/images/portfolio-d/port2.webp" alt="">
                                </div>
                                <div class="portfolio-d__slide-title">
                                    <h3 class="tl3">СКЕЙТЕР</h3>
                                    <span class="txt28">Скейтер</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>