<section class="priorities">
    <div class="priorities__container container">
        <div class="priorities__head">
            <span class="priorities__title tl2">Что для нас важно</span>
            <button type="button" class="priorities__btn btn">
                <span class="btn__text txt20 txt20_caps">ОСТАВИТЬ ЗАЯВКУ</span>
                <svg
                    class="btn__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                >
                    <path d="M6.75586 19.2442V5.11624L17.1164 12.1802L6.75586 19.2442Z" fill="#C9FB40" />
                </svg>
            </button>
        </div>
        <div class="priorities__body">
            <div class="priorities__image-wrap">
                <img src="./assets/images/priorities/bg.webp" alt="" class="priorities__image" />
            </div>
            <div class="priorities__content">
                <div data-accordion data-accordion-one-active class="priorities__accordion accordion">
                    <div class="accordion__item">
                        <button type="button" data-accordion-item class="accordion__title _accordion-active">
                            <svg
                                class="accordion__title-icon"
                                width="52"
                                height="52"
                                viewBox="0 0 52 52"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle cx="26" cy="26" r="26" fill="#1F1F22" />
                                <path d="M18.872 21L33 21L25.936 31.3605L18.872 21Z" fill="white" />
                            </svg>
                            <span class="accordion__title-txt tl3">Качество</span>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__text txt20">
                                Мы придерживаемся высочайших стандартов и регулярно обновляем наши навыки и
                                техники, чтобы удовлетворить все потребности и ожидания наших клиентов.
                            </p>
                        </div>
                    </div>
                    <div class="accordion__item accordion__item_violet">
                        <button type="button" data-accordion-item class="accordion__title">
                            <svg
                                class="accordion__title-icon"
                                width="52"
                                height="52"
                                viewBox="0 0 52 52"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle cx="26" cy="26" r="26" fill="#1F1F22" />
                                <path d="M18.872 21L33 21L25.936 31.3605L18.872 21Z" fill="white" />
                            </svg>
                            <span class="accordion__title-txt tl3">творчество</span>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__text txt20">
                                Мы придерживаемся высочайших стандартов и регулярно обновляем наши навыки и
                                техники, чтобы удовлетворить все потребности и ожидания наших клиентов.
                            </p>
                        </div>
                    </div>
                    <div class="accordion__item accordion__item_pink">
                        <button type="button" data-accordion-item class="accordion__title">
                            <svg
                                class="accordion__title-icon"
                                width="52"
                                height="52"
                                viewBox="0 0 52 52"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle cx="26" cy="26" r="26" fill="#1F1F22" />
                                <path d="M18.872 21L33 21L25.936 31.3605L18.872 21Z" fill="white" />
                            </svg>
                            <span class="accordion__title-txt tl3">сотрудничество</span>
                        </button>
                        <div class="accordion__body">
                            <p class="accordion__text txt20">
                                Мы придерживаемся высочайших стандартов и регулярно обновляем наши навыки и
                                техники, чтобы удовлетворить все потребности и ожидания наших клиентов.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
