<div class="service-hero">
    <div class="service-hero__container container">
        <div class="service-hero__preview">
            <div class="service-hero__images">
                <div class="service-hero__image-wrap">
                    <img src="./assets/images/picture/1.webp" alt="" class="service-hero__image" />
                </div>
                <div class="service-hero__image-wrap">
                    <span class="service-hero__subtitle tl3"
                        >ОТ КОНЦЕПТА ДО <span>ПОЛНОЙ ДЕТАЛИЗАЦИИ</span></span
                    >
                    <img src="./assets/images/picture/23.webp" alt="" class="service-hero__image" />
                </div>
            </div>
            <div class="service-hero__marquee">
                <div data-marquee-inner class="service-hero__marquee-inner txt20 txt20_caps">
                    <div data-marquee-part class="service-hero__marquee-part">РАЗРАБОТКА персонажей</div>
                    <div data-marquee-part class="service-hero__marquee-part">РАЗРАБОТКА персонажей</div>
                    <div data-marquee-part class="service-hero__marquee-part">РАЗРАБОТКА персонажей</div>
                    <div data-marquee-part class="service-hero__marquee-part">РАЗРАБОТКА персонажей</div>
                    <div data-marquee-part class="service-hero__marquee-part">РАЗРАБОТКА персонажей</div>
                    <div data-marquee-part class="service-hero__marquee-part">РАЗРАБОТКА персонажей</div>
                </div>
            </div>
        </div>
        <div class="service-hero__content">
            <span class="service-hero__title tl1">
                РАЗРАБОТКА
                <span>ПЕРСОНАЖЕЙ</span>
            </span>
            <p class="service-hero__text txt20">
                Яркие и харизматичные персонажи, готовые оживить любое произведение и превратить его в
                незабываемое путешествие для зрителей или игроков.
            </p>
            <button type="button" class="service-hero__btn btn">
                <span class="btn__text txt20 txt20_caps">ОСТАВИТЬ ЗАЯВКУ</span>
                <svg
                    class="btn__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                >
                    <path d="M6.75586 19.2442V5.11624L17.1164 12.1802L6.75586 19.2442Z" fill="#C9FB40" />
                </svg>
            </button>
        </div>
    </div>
</div>
