<section class="services-dev">
    <div class="container">
        <div class="services-dev__inner">
            <div class="services-dev__title tl2">разработка персонажей</div>
            <div class="services-dev__wrapper">
                <div class="services-dev__left">
                    <div class="services-dev__image">
                        <img src="./assets/images/picture/15.webp" alt="" />
                    </div>
                    <ul class="services-dev__line txt20 txt20_caps">
                        <li>Полное сопровождение</li>
                        <li>современные стили</li>
                        <li class="desktop">комплексно Выполняем задачи</li>
                    </ul>
                </div>
                <div class="services-dev__right">
                    <div class="services-dev__text text-20">
                        <p>
                            Добро пожаловать в мир цифровых персонажей, где воображение оживает и фантазия
                            становится реальностью. Мы - команда экспертов по созданию уникальных и
                            запоминающихся цифровых персонажей, готовых оживить ваш проект, игру, анимацию или
                            веб-сайт. Почему выбирают нас: Творческий Подход: Мы подходим к каждому проекту с
                            уникальным и творческим видением, чтобы создать персонажей, которые будут
                            выделяться среди конкурентов.
                        </p>
                        <p>
                            Профессионализм: Наша команда состоит из опытных специалистов, готовых реализовать
                            самые сложные идеи. Сроки и Качество: Мы придерживаемся строгих сроков и всегда
                            стремимся к высшему качеству в каждой детали. Создайте своего идеального цифрового
                            персонажа вместе с нами. Обратитесь к нам с вашим проектом, и мы поможем вам
                            оживить ваши мечты и концепции. Погрузитесь в мир креативных возможностей.
                        </p>
                        <p>
                            Создайте своего идеального цифрового персонажа вместе с нами. Обратитесь к нам с
                            вашим проектом, и мы поможем вам оживить ваши мечты и концепции. Погрузитесь в мир
                            креативных возможностей.
                        </p>
                    </div>
                    <button type="button" class="services-dev__btn link link_white mobile">
                        <span class="link__text tl3">читать все</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
