<section class="stages">
    <div class="stages__container container">
        <div class="stages__content">
            <span class="stages__title tl2">Этапы работы</span>
            <div class="stages__sl-control">
                <button type="button" class="stages__sl-btn sl-btn sl-btn_prev">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path d="M17.1152 19.2442V5.11621L6.7547 12.1802L17.1152 19.2442Z" fill="white" />
                    </svg>
                </button>
                <button type="button" class="stages__sl-btn sl-btn sl-btn_next">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path d="M6.75586 19.2442V5.11621L17.1164 12.1802L6.75586 19.2442Z" fill="white" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="stages__slider-wrap">
            <div class="stages__slider swiper">
                <div class="stages__wrapper swiper-wrapper">
                    <div class="stages__slide slide-stages swiper-slide">
                        <span class="slide-stages__title txt28 txt28_md">01 Концепт</span>
                        <p class="slide-stages__text txt20">
                            Создается общая концепция персонажа, которая включает в себя его внешность,
                            характеристики и роль в игре.
                        </p>
                    </div>
                    <div class="stages__slide slide-stages swiper-slide">
                        <span class="slide-stages__title txt28 txt28_md">02 Дизайн персонажа</span>
                        <p class="slide-stages__text txt20">
                            Создается концепт-арт, который представляет внешний вид персонажа: пропорции тела,
                            одежда и аксессуары.
                        </p>
                    </div>
                    <div class="stages__slide slide-stages swiper-slide">
                        <span class="slide-stages__title txt28 txt28_md">03 Моделирование</span>
                        <p class="slide-stages__text txt20">
                            Создается концепт-арт, который представляет внешний вид персонажа: пропорции тела,
                            одежда и аксессуары.
                        </p>
                    </div>
                    <div class="stages__slide slide-stages swiper-slide">
                        <span class="slide-stages__title txt28 txt28_md">04 Создание текстур</span>
                        <p class="slide-stages__text txt20">
                            Создается концепт-арт, который представляет внешний вид персонажа: пропорции тела,
                            одежда и аксессуары.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
