<section class="achievements">
    <div class="container">
        <div class="achievements__content">
            <h2 class="achievements__title">мы в цифрах</h2>

            <div class="achievements__heading">
                <p class="achievements__description">
                    Процесс создания иллюстрации для gamedev сопровождается не только техническими задачами,
                     но и творческими решениями.
                </p>

                <ul class="achievements__heading-list">
                    <li class="achievements__heading-item">
                        <span class="achievements__heading-item-digit"> 900 </span>
                        <p class="achievements__heading-item-description">Социальных проектов</p>
                    </li>
                    <li class="achievements__heading-item">
                        <span class="achievements__heading-item-digit"> 1100 </span>
                        <p class="achievements__heading-item-description">Отзывов  от клиентов</p>
                    </li>
                    <li class="achievements__heading-item">
                        <span class="achievements__heading-item-digit">7</span>
                        <p class="achievements__heading-item-description">Лет  на рынке</p>
                    </li>
                    <li class="achievements__heading-item">
                        <span class="achievements__heading-item-digit"> 60 </span>
                        <p class="achievements__heading-item-description">Сотрудников в компании</p>
                    </li>
                </ul>
            </div>

            <figure class="achievements__banner">
                <img src="../assets/images/achievements/achievements-banner.webp" alt="" />
            </figure>
        </div>
    </div>
</section>
