<section class="main-collection">
  <div class="main-collection__container container">
    <div class="main-collection__inner">
      <div class="main-collection__cards swiper">
        <div class="main-collection__cards-wrapper swiper-wrapper">
          <div
            class="main-collection__cards-item collection-item collection-item--rat swiper-slide">
            <div class="collection-item__header">
              <div class="collection-item__title">
                <strong>Request Art</strong>
                <span>Разработано</span>
              </div>
              <div class="collection-item__icons">
                <div class="collection-item__icons-item">NFT</div>
                <div class="collection-item__icons-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1.60707 21.3929C0.719517 22.2805 0.719518 23.7195 1.60707 24.6071L21.393 44.393C22.2805 45.2805 23.7195 45.2805 24.6071 44.3929L44.393 24.6071C45.2805 23.7195 45.2805 22.2805 44.3929 21.3929L24.6071 1.60707C23.7195 0.719517 22.2805 0.719518 21.393 1.60707L1.60707 21.3929ZM23.0521 36.1707C30.327 36.1707 36.2244 30.2732 36.2244 22.9984C36.2244 15.7236 30.327 9.82618 23.0521 9.82618C15.7773 9.82618 9.87989 15.7236 9.87989 22.9984C9.87989 30.2732 15.7773 36.1707 23.0521 36.1707Z"
                      fill="#1F1F22" />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.0921 14.7676C15.8369 14.7676 14.8193 15.7851 14.8193 17.0403V29.0772C14.8193 30.3324 15.8369 31.3499 17.0921 31.3499H29.129C30.3841 31.3499 31.4017 30.3324 31.4017 29.0772V17.0403C31.4017 15.7851 30.3841 14.7676 29.129 14.7676H17.0921ZM23.0291 28.7184C26.1992 28.7184 28.7691 26.1485 28.7691 22.9783C28.7691 19.8082 26.1992 17.2383 23.0291 17.2383C19.859 17.2383 17.2891 19.8082 17.2891 22.9783C17.2891 26.1485 19.859 28.7184 23.0291 28.7184Z"
                      fill="#1F1F22" />
                    <rect
                      x="20.582"
                      y="23"
                      width="3.72064"
                      height="3.72064"
                      rx="0.757576"
                      transform="rotate(-45 20.582 23)"
                      fill="#1F1F22" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="collection-item__footer">
              <div
                class="collection-item__footer-item collection-item__footer-item--left">
                Мышь сотрудник
              </div>
              <div
                class="collection-item__footer-item collection-item__footer-item--right">
                <span>от</span>
                <strong>5000</strong><sup>₽</sup>
              </div>
            </div>
            <div class="collection-item__backdrop">
              <img src="./assets/images/nft/1.webp" alt="" />
            </div>
          </div>
          <div
            class="main-collection__cards-item collection-item collection-item--snail swiper-slide">
            <div class="collection-item__header">
              <div class="collection-item__title">
                <strong>Request Art</strong>
                <span>Разработано</span>
              </div>
              <div class="collection-item__icons">
                <div class="collection-item__icons-item">NFT</div>
                <div class="collection-item__icons-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="46"
                    height="46"
                    viewBox="0 0 46 46"
                    fill="none">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1.60707 21.3929C0.719517 22.2805 0.719518 23.7195 1.60707 24.6071L21.393 44.393C22.2805 45.2805 23.7195 45.2805 24.6071 44.3929L44.393 24.6071C45.2805 23.7195 45.2805 22.2805 44.3929 21.3929L24.6071 1.60707C23.7195 0.719517 22.2805 0.719518 21.393 1.60707L1.60707 21.3929ZM23.0521 36.1707C30.327 36.1707 36.2244 30.2732 36.2244 22.9984C36.2244 15.7236 30.327 9.82618 23.0521 9.82618C15.7773 9.82618 9.87989 15.7236 9.87989 22.9984C9.87989 30.2732 15.7773 36.1707 23.0521 36.1707Z"
                      fill="#1F1F22" />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.0921 14.7676C15.8369 14.7676 14.8193 15.7851 14.8193 17.0403V29.0772C14.8193 30.3324 15.8369 31.3499 17.0921 31.3499H29.129C30.3841 31.3499 31.4017 30.3324 31.4017 29.0772V17.0403C31.4017 15.7851 30.3841 14.7676 29.129 14.7676H17.0921ZM23.0291 28.7184C26.1992 28.7184 28.7691 26.1485 28.7691 22.9783C28.7691 19.8082 26.1992 17.2383 23.0291 17.2383C19.859 17.2383 17.2891 19.8082 17.2891 22.9783C17.2891 26.1485 19.859 28.7184 23.0291 28.7184Z"
                      fill="#1F1F22" />
                    <rect
                      x="20.582"
                      y="23"
                      width="3.72064"
                      height="3.72064"
                      rx="0.757576"
                      transform="rotate(-45 20.582 23)"
                      fill="#1F1F22" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="collection-item__footer">
              <div
                class="collection-item__footer-item collection-item__footer-item--left">
                Мышь сотрудник
              </div>
              <div
                class="collection-item__footer-item collection-item__footer-item--right">
                <span>от</span>
                <strong>5000</strong><sup>₽</sup>
              </div>
            </div>
            <div class="collection-item__backdrop">
              <img src="./assets/images/nft/2.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="main-collection__info">
        <div class="main-collection__title">
          СОЗДАНИЕ ПЕРСОНАЖА NFT КОЛЛЕКЦИИ
        </div>
        <div class="main-collection__description">
          Вы можете отправить нам референс отрисовки и мы просчитаем стоимость и
          время. Стоимость и время исполнения зависит от сложности иллюстраций.
        </div>
        <button class="main-collection__btn btn" type="button">
          ЗАКАЗАТЬ ИЛЛЮСТРАЦИЮ
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="11"
              height="15"
              viewBox="0 0 11 15"
              fill="none">
              <path
                d="M0.375977 14.9999V0.871948L10.7365 7.93595L0.375977 14.9999Z" />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
