<section class="main-links">
  <ul class="main-links__list">
    <li class="main-links__item"><a href="./">WEB - ИЛЛЮСТРАЦИИ</a></li>
    <li class="main-links__item"><a href="./">ИКОНКИ, ЛОГОТИПЫ</a></li>
    <li class="main-links__item"><a href="./">ГЕЙМДЕВ</a></li>
    <li class="main-links__item"><a href="./">NFT-КОЛЛЕКЦИИ</a></li>
    <li class="main-links__item">
      <a href="./">РАЗРАБОТКА ПЕРСОНАЖЕЙ</a>
    </li>
    <li class="main-links__item main-links__item--big">
      <a href="./">ФОРМА ОБРАТНОЙ СВЯЗИ</a>
    </li>
  </ul>
</section>
