<section class="main-rates">
  <div class="main-rates__container container">
    <div class="main-rates__inner">
      <div class="main-rates__title">Тарифы</div>
      <div class="main-rates__wrapper">
        <div class="main-rates__item rates-item rates-item--bg--pink">
          <div class="rates-item__left">
            <div class="rates-item__title">Векторные иллюстрации</div>
          </div>
          <div class="rates-item__right">
            <div class="rates-item__price">
              <div class="rates-item__price-top">
                <span>от</span><strong>5000</strong><sup>₽</sup>
              </div>
              <div class="rates-item__price-bottom">Одна иллюстрация</div>
            </div>
            <div class="rates-item__options">Включено сопровождение</div>
            <button class="rates-item__btn btn" type="button">
              ЗАКАЗАТЬ
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="11"
                  height="15"
                  viewBox="0 0 11 15"
                  fill="none">
                  <path
                    d="M0.375977 14.9999V0.871948L10.7365 7.93595L0.375977 14.9999Z" />
                </svg>
              </span>
            </button>
          </div>
          <div class="rates-item__icon rates-icon rates-icon--sunny">
            <img src="./assets/images/icons/content/tariff/sunny.svg" alt="" />
          </div>
          <div class="rates-item__icon rates-icon rates-icon--shapes">
            <img src="./assets/images/icons/content/tariff/shapes.svg" alt="" />
          </div>
        </div>
        <div class="main-rates__item rates-item rates-item--bg--blue">
          <div class="rates-item__left">
            <div class="rates-item__title">Векторные иллюстрации</div>
          </div>
          <div class="rates-item__right">
            <div class="rates-item__price">
              <div class="rates-item__price-top">
                <span>от</span> <strong>5000</strong><sup>₽</sup>
              </div>
              <div class="rates-item__price-bottom">Одна иллюстрация</div>
            </div>
            <div class="rates-item__options">Включено сопровождение</div>
            <button class="rates-item__btn btn" type="button">
              ЗАКАЗАТЬ
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="11"
                  height="15"
                  viewBox="0 0 11 15"
                  fill="none">
                  <path
                    d="M0.375977 14.9999V0.871948L10.7365 7.93595L0.375977 14.9999Z" />
                </svg>
              </span>
            </button>
          </div>
        </div>
        <div class="main-rates__item rates-item rates-item--bg--green">
          <div class="rates-item__left">
            <div class="rates-item__title">Векторные иллюстрации</div>
          </div>
          <div class="rates-item__right">
            <div class="rates-item__price">
              <div class="rates-item__price-top">
                <span>от</span> <strong>5000</strong><sup>₽</sup>
              </div>
              <div class="rates-item__price-bottom">Одна иллюстрация</div>
            </div>
            <div class="rates-item__options">Включено сопровождение</div>
            <button class="rates-item__btn btn" type="button">
              ЗАКАЗАТЬ
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="11"
                  height="15"
                  viewBox="0 0 11 15"
                  fill="none">
                  <path
                    d="M0.375977 14.9999V0.871948L10.7365 7.93595L0.375977 14.9999Z" />
                </svg>
              </span>
            </button>
          </div>
          <div class="rates-item__icon rates-icon rates-icon--megafon">
            <img
              src="./assets/images/icons/content/tariff/megafon.svg"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
