<section class="services">
    <div class="container">
        <div class="services__content">
            <div class="services__sentences">
                <ul class="services__sentences-list">
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">фотореалистичные изображения</p>
                    </li>
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">web - иллюстрации</p>
                    </li>
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">стилизации под гравюры</p>
                    </li>
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">разработка логотипа</p>
                    </li>
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">создание nft-коллеекции</p>
                    </li>
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">сториборды</p>
                    </li>
                    <li class="services__sentences-item">
                        <p class="services__sentences-text">gamedev</p>
                    </li>
                </ul>
            </div>

            <div class="services__circular">
                <figure class="services__circular-text-image">
                    <img src="../assets/images/services/services-text-image.svg" alt="">
                </figure>

                <figure class="services__circular-image">
                    <img src="./assets/images/services/services-image.webp" alt="" />
                </figure>
            </div>
        </div>
    </div>
</section>
