@font-face {
  font-family: 'DrukCyr';
  font-weight: 500;
  src: url('./assets/fonts/DrukCyr-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'EuclidCircularA';
  font-weight: 400;
  src: url('./assets/fonts/EuclidCircularA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'EuclidCircularA';
  font-weight: 500;
  src: url('./assets/fonts/EuclidCircularA-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'EuclidCircularA';
  font-weight: 600;
  src: url('./assets/fonts/EuclidCircularA-SemiBold.woff2') format('woff2');
}
