// --------------------------------- mixins ---------------------------------

@import './mixins';

// -------------------------------- variables -------------------------------

$font: 'EuclidCircularA';

// colors
$white: #ffffff;
$black: #000000;
$bodyColor: #1f1f22;
$pink: #ed89fb;
$violet: #cad2f4;
$green: #c9fb40;
$yellow: #fad85d;
$darkGray: #6a6a6a;
$main: #282828;
$red: #ff1212;

// ---------------------------------- fonts ---------------------------------

// local fonts
@import './fonts';

// ------------------------------- base styles ------------------------------

// base scss file
@import './set';

// body
body {
    &.lock {
        overflow: hidden;
        touch-action: none;
    }
}

// main
main {
    padding-top: 6.7rem;
    @media (max-width: 48em) {
        padding-top: 12.6rem;
    }
}

.desktop {
    @media (max-width: 48em) {
        display: none;
    }
}

.mobile {
    display: none;

    @media (max-width: 48em) {
        display: block;
    }
}

// --------------------------------------------------------------------------

// header / footer
@import './components/header';
@import './components/footer';

// ui
@import '../ui/ui.scss';

// --------------------------------------------------------------------------

@import './dev/vzmsk1.scss';
@import './dev/markusDM.scss';
@import './dev/ukik0.scss';
@import './dev/kie6er.scss';
